mat-card-title {
    font-size: 24px !important;
    font-weight: 300 !important;
}

mat-card-header {
    text-align: center!important;
}

mat-card {
    height: 225px;
    width: 400px;
}

.all-area {
    position: fixed;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: calc(100% - 182px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.action-bar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;

    .button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 125px;
    }

    .spacer {
        flex-grow: 1;
    }
}

.example-full-width {
    width: 100%;
}
