<div class="docs-primary-header">
  <h1 class="docs-primary-header">Home</h1>
</div>
<ng-container *ngIf="league">

<ng-container *ngIf="!signupPeriod">
<div class="home-content">
    <div class="top-row">
        <span class="league-about">
            <h2>About {{league.name}}</h2>

            <div>{{league.description}}</div>
            <div>
                <span>Game: </span>
                <span>{{getGameLabel()}}</span>
            </div>
            <div>
                <span>Registration Period: </span>
                <span>
                    {{league.signupStart * 1000 | date:'EEEE'}} {{league.signupStart * 1000 | date:'MMMM d'}}
                    to
                    {{league.signupEnd * 1000 | date:'EEEE'}} {{league.signupEnd * 1000 | date:'MMMM d'}}
                </span>
            </div>
            <div>
                <span>Competition Period: </span>
                <span>
                    {{league.leagueStart * 1000 | date:'EEEE'}} {{league.leagueStart * 1000 | date:'MMMM d'}}
                    to
                    {{league.leagueEnd * 1000 | date:'EEEE'}} {{league.leagueEnd * 1000 | date:'MMMM d'}}
                </span>
            </div>
        </span>
        <span class="top-teams">
            <h2>Top Teams</h2>
            <app-team-entry *ngFor="let team of topTeams; let i = index"
                            [team]="team" [position]="i+1" [height]="80"></app-team-entry>
        </span>
    </div>
    <div class="bottom-row">
        <span class="past-games">
            <h2>Recently Completed Games</h2>
            <div class="games-list">
                <app-game-entry *ngFor="let game of games.completedGames" [game]="game" [compact]="true"></app-game-entry>
            </div>
        </span>
        <span class="upcoming-games">
            <h2>Upcoming Games</h2>
            <div class="games-list">
                <app-game-entry *ngFor="let game of games.upcomingGames" [game]="game" [compact]="true"></app-game-entry>
            </div>
        </span>
    </div>
</div>
</ng-container>

<ng-container *ngIf="signupPeriod">
    <div class="home-content signup">
        <span class="league-about">
            <h2>About {{league.name}}</h2>

            <div>{{league.description}}</div>
            <div>
                <span>Game: </span>
                <span>{{getGameLabel()}}</span>
            </div>
            <div>
                <span>Registration Period: </span>
                <span>
                    {{league.signupStart * 1000 | date:'EEEE'}} {{league.signupStart * 1000 | date:'MMMM d'}}
                    to
                    {{league.signupEnd * 1000 | date:'EEEE'}} {{league.signupEnd * 1000 | date:'MMMM d'}}
                </span>
            </div>
            <div>
                <span>Competition Period: </span>
                <span>
                    {{league.leagueStart * 1000 | date:'EEEE'}} {{league.leagueStart * 1000 | date:'MMMM d'}}
                    to
                    {{league.leagueEnd * 1000 | date:'EEEE'}} {{league.leagueEnd * 1000 | date:'MMMM d'}}
                </span>
            </div>
            <div class="signup">
                <div>
                    This league is currently accepting new teams!
                </div>
                <div>
                    <button mat-raised-button color="primary" routerLink="/register">Sign Up</button>
                </div>

            </div>
        </span>
            <span class="all-teams">
            <h2>Currently Signed up Teams</h2>
            <app-team-entry *ngFor="let team of allTeams; let i = index"
                            [team]="team" [position]="i+1" [height]="80" [signup]="signupPeriod"></app-team-entry>
        </span>
    </div>
</ng-container>

</ng-container>
