<h1>
    League Information
</h1>

<mat-divider></mat-divider>

<ng-container *ngIf="league">
<div class="example-container">
    <mat-form-field hintLabel="Between 3 and 25 characters">
        <input matInput [(ngModel)]="league.name" #input1 maxlength="50" placeholder="League Name">
        <mat-hint align="end">{{input1.value?.length || 0}}/50</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Maximum 500 characters">
        <textarea matInput #input2 [(ngModel)]="league.description"
                  placeholder="Description" [mat-autosize]="true"></textarea>
        <mat-hint align="end">{{input2.value?.length || 0}}/500</mat-hint>
    </mat-form-field>
</div>

<mat-divider></mat-divider>
<h2>Game Selection</h2>
<div class="game-selection">
    <span>
        <div>Physical Sports</div>
        <mat-form-field>
            <mat-select placeholder="Select Game" [(value)]="league.game">
                <mat-option *ngFor="let s of physicalSports" [value]="s.value">
                    {{s.display}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </span>
    <span>
        <div>E-Sports</div>
        <mat-form-field>
            <mat-select placeholder="Select Game" [(value)]="league.game">
                <mat-option *ngFor="let s of eSports" [value]="s.value">
                    {{s.display}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </span>
</div>

<mat-divider></mat-divider>

<section class="visibility-section">
    <mat-checkbox [(ngModel)]="league.publicView">Anyone Can View This League</mat-checkbox>
    <mat-checkbox [(ngModel)]="league.publicJoin">Anyone Can Join This League</mat-checkbox>
</section>

<button mat-flat-button color="primary" (click)="updateAtServer()">Update Information</button>
</ng-container>




