.game-entry {
    height: 150px;
    padding-left: 0!important;
    padding-right: 0!important;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: lightgray;

    &.compact {
        height: 80px;
        .time {
            min-width: 110px;
            .dayofweek {
                font-size: 18px;
            }
            .day {
                font-size: 18px;
            }
            .time {
                font-size: 20px;
            }
        }
        .info {
            .team-block {
                font-size: 18px;
                .tag {
                    font-size: 22px;
                }
                .record {
                    font-size: 12px;
                }

            }
        }
        .vs {
            font-size: 16px;
        }
    }

    span.time {
        height: 100%;
        min-width: 180px;
        background-color: #f5f5f5;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .dayofweek {
            font-size: 24px;
            font-weight: 300;
        }

        .day {
            font-size: 24px;
            font-weight: 300;
        }

        .time {
            font-size: 26px;
            font-weight: 500;
        }
    }

    span.info {
        flex-grow: 1;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;

        .team-name {
            width:20%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 40px;
            padding-right: 40px;

            font-size: 30px;
            font-weight: 300;
            color: #000000;

            @media (max-width: 919px) {
                display: none;
            }
        }

        .team-block {
            width: 25%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 28px;

            .tag {
                color: black;
                font-size: 30px;
                font-weight: 500;
            }

            .record {
                font-size: 16px;
                font-weight: 400;
                color: #646464;
            }

        }

        .victory {
            font-weight: 300;
            color: darkgreen;
        }

        .defeat {
            font-weight: 300;
            color: darkred;
        }

        .ignore {
            display: none;
        }

        .team-container {
            width: calc(50% - 12px);
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .vs {
            min-width: 24px;
            justify-content: center;
            flex-direction: column;
            display: flex;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 24px;
            font-weight: 300;
        }

        .logo {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                align-items: center;
                justify-content: center;
                height:85%;
                width:auto;
            }
        }

        .spacer {
            flex-grow: 1;
        }
    }
}
