
h1 {
    font-weight: 300;
    margin-bottom: 0;
}

h2 {
    font-weight: 400;
    margin-bottom: 0;
}

h3 {
    font-size: 22px;
    font-weight: 300;
}

mat-divider {
    margin-top: 15px;
    margin-bottom: 25px;
}



button {
    margin-top: 40px;
}

button:hover {
    background-color: #495be4;
}

.team-button {
    margin-top: 20px;
}

.mat-column-userEmail {
    flex: 0 0 50%;
    justify-content: left;
}

mat-cell {
    justify-content: center;
}

mat-header-cell {
    justify-content: center;
}
