<ng-container *ngIf="team">
<div class="team-content">
    <div class="players">
        <div class="new-player-container">
            <span class="players-title">Players</span>
            <button mat-raised-button class="new-player" color="primary"
                    (click)="createPlayer(true)">
                <mat-icon inline="true" fontSet="fa" fontIcon="fa-plus-square"></mat-icon>
                Add Player
            </button>
        </div>
        <ul>
            <li *ngFor="let player of team.mainRoster">
                <span class="player-entry">
                    <span class="name">
                        {{player.name}}
                    </span>

                    <span class="game-name">
                        {{player.gameIdentifier}}
                    </span>

                    <span class="spacer"></span>

                    <span class="control-button">
                        <button mat-icon-button color="primary"
                                (click)="editPlayer(player)">
                            <mat-icon inline="true" fontSet="fa" fontIcon="fa-pencil"></mat-icon>
                        </button>
                    </span>

                    <span class="control-button delete">
                        <button mat-icon-button (click)="deletePlayer(player)">
                            <mat-icon inline="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
                        </button>
                    </span>

                    <span class="control-button move">
                        <button mat-icon-button (click)="movePlayerRoster(player, false)">
                            <mat-icon inline="true" fontSet="fa" fontIcon="fa-caret-down"></mat-icon>
                        </button>
                    </span>
                </span>
            </li>
        </ul>
    </div>
    <div class="players">
        <div class="new-player-container">
            <span class="players-title">Substitutes</span>
            <button mat-raised-button class="new-player" color="primary"
                    (click)="createPlayer(false)">
                <mat-icon inline="true" fontSet="fa" fontIcon="fa-plus-square"></mat-icon>
                Add Substitute
            </button>
        </div>
        <ul>
            <li *ngFor="let player of team.substituteRoster">
                <span class="player-entry">
                    <span class="name">
                        {{player.name}}
                    </span>

                    <span class="game-name">
                        {{player.gameIdentifier}}
                    </span>
                    <span class="spacer"></span>

                    <span class="control-button">
                        <button mat-icon-button color="primary"
                                (click)="editPlayer(player)">
                            <mat-icon inline="true" fontSet="fa" fontIcon="fa-pencil"></mat-icon>
                        </button>
                    </span>

                    <span class="control-button delete">
                        <button mat-icon-button (click)="deletePlayer(player)">
                            <mat-icon inline="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
                        </button>
                    </span>

                    <span class="control-button move">
                        <button mat-icon-button (click)="movePlayerRoster(player, true)">
                            <mat-icon inline="true" fontSet="fa" fontIcon="fa-caret-up"></mat-icon>
                        </button>
                    </span>
                </span>
            </li>
        </ul>
    </div>
</div>
</ng-container>
