.basic-container {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}

h1 {
  outline: none;
}

.vertical-spacer {
    margin-bottom: 25px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 220px;

    .big-logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            align-items: center;
            justify-content: center;
            max-height:85%;
            max-width:85%;
            height:auto;
            width:auto;
        }
    }



    .name {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 64px;
        font-weight: 300;
    }
}

.limiter {
    margin-left: 10%;
    width: 80%;
    height: 100%;
}

mat-tab-group {}


mat-tab-body {
}

.mat-tab-body-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: visible !important;

    .description {
        margin-top:30px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .heading {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    .members {
        width: 90%;
        margin-top:20px;

        .player-type {
            color: black;
            font-weight: 400;
            font-size: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            margin: 0 0 5px 0;
            padding: 0;
            overflow: hidden;
            width: 100%;
        }

        li {
            display: inline;
            //max-height: 100px;
            //width: 100%;

            border-style: solid;
            border-width: 1px 0 0 0;
            border-color: lightgray;
        }
    }
}


.mat-tab-labels {
    justify-content: center;
}

.games-list-team-page {
    display: flex;
    flex-direction: column;
    width: 70%;
}
