<div class="docs-primary-header">
  <h1 class="docs-primary-header">Teams</h1>
</div>

<ng-container *ngIf="team">

<div class="title">
    <span class="logo">
        <img [src]="'http://localhost:8080/icons/' + team.iconLarge">
    </span>

    <span class="name">
        {{team.name}}
    </span>
</div>

<div class="limiter">
    <!--<mat-divider></mat-divider>-->
    <mat-tab-group>
        <mat-tab label="Members">
            <span class="members">
                <div class="player-type">
                    Players
                </div>

                <div class="player-entries">
                    <player-entry-component [players]="team.players" [mainRoster]="true"></player-entry-component>
                </div>

                <div class="vertical-spacer"></div>
                <mat-divider></mat-divider>
                <div class="vertical-spacer"></div>

                <div class="player-type">
                    Substitutes
                </div>

                <div class="player-entries">
                    <player-entry-component [players]="team.substitutes"></player-entry-component>
                </div>

            </span>
        </mat-tab>

        <mat-tab label="About">
            <span class="description">
                {{team.description}}
            </span>
        </mat-tab>

        <mat-tab label="Match History">
            <div class="games-list-team-page">
                <app-game-entry *ngFor="let game of pastGames" [game]="game" [compact]="true"></app-game-entry>
            </div>
        </mat-tab>
        <mat-tab label="Upcoming Games">
            <div class="games-list-team-page">
                <app-game-entry *ngFor="let game of upcomingGames" [game]="game" [compact]="true"></app-game-entry>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>




</ng-container>
