h1 {
    font-weight: 300;
    margin-bottom: 0;
}

mat-divider {
    margin-top: 15px;
}

.registration-wrapper {
    margin-top: 25px;
    width: 60%;
    margin-left: 20%;
}

.content-wrapper-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    width: 50%;

    .icon-upload {
        height: 20%;
        justify-content: left;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.54);
        input {
            margin-top: 10px;
        }
    }

    .icon-display {
        height: 80%;
    }
}

.content-wrapper-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
