<nav class="docs-navbar-header">
    <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
        <span>Home</span>
    </a>
    <a mat-button class="docs-button" routerLink="/standings" aria-label="Angular Material">
        <span>Teams and Standings</span>
    </a>
    <a mat-button class="docs-button" routerLink="/games" aria-label="Angular Material">
        <span>Past and Upcoming Games</span>
    </a>
    <a mat-button class="docs-button" routerLink="/register" aria-label="Angular Material">
        <span>Tournament Registration</span>
    </a>
    <div class="flex-spacer"></div>
    <a mat-button class="docs-button" routerLink="/manage" aria-label="Angular Material">
        <span>Manage</span>
    </a>
    <a *ngIf="!loggedIn" mat-button class="docs-button" routerLink="/signup" aria-label="Angular Material">
        <span>Sign Up</span>
    </a>
    <a *ngIf="!loggedIn"mat-button class="docs-button" routerLink="/login" aria-label="Angular Material">
        <span>Login</span>
    </a>
    <a *ngIf="loggedIn"mat-button class="docs-button" routerLink="/" aria-label="Angular Material"
        (click)="logout()">
        <span>Logout</span>
    </a>
</nav>
