<nav class="docs-navbar-header">
    <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
        <span>Home</span>
    </a>
    <a mat-button class="docs-button" routerLink="/rules" aria-label="Angular Material">
        <span>Rules and Information</span>
    </a>
    <a mat-button class="docs-button" routerLink="/standings" aria-label="Angular Material">
        <span>Teams and Standings</span>
    </a>
    <a mat-button class="docs-button" routerLink="/games" aria-label="Angular Material">
        <span>Past and Upcoming Games</span>
    </a>
    <ng-container *ngIf="league">
    <a *ngIf="isRegistrationPeriod() || true" mat-button class="docs-button" routerLink="/register" aria-label="Angular Material">
        <span>Tournament Registration</span>
    </a>
    <a *ngIf="hasStatsPage()" mat-button class="docs-button" routerLink="/stats" aria-label="Angular Material">
        <span>Stats</span>
    </a>
    </ng-container>
    <div class="flex-spacer"></div>
    <a mat-button class="docs-button" routerLink="/leagues" aria-label="Angular Material">
        <span>Other Leagues</span>
    </a>
    <a *ngIf="isManager()" mat-button class="docs-button" routerLink="/manage" aria-label="Angular Material">
        <span>Manage</span>
    </a>
    <a *ngIf="!loggedIn()" mat-button class="docs-button" routerLink="/signup" aria-label="Angular Material">
        <span>Sign Up</span>
    </a>
    <a *ngIf="!loggedIn()"mat-button class="docs-button" routerLink="/login" aria-label="Angular Material">
        <span>Login</span>
    </a>
    <a *ngIf="loggedIn()"mat-button class="docs-button" routerLink="/" aria-label="Angular Material"
        (click)="logout()">
        <span>Logout</span>
    </a>
</nav>
