<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <form [formGroup]="playerForm" (submit)="savePlayer()" class="content-wrapper">
        <mat-form-field hintLabel="Between 3 and 25 characters">
            <input matInput formControlName="gameIdentifier" #input maxlength="25" placeholder="Game Identifier" required>
            <mat-hint align="end">{{input.value?.length || 0}}/25</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Select Position" formControlName="position">
                <ng-container *ngFor="let pos of data.positions">
                    <mat-option *ngIf="pos.available || data.player.position == pos.value" [value]="pos.value">
                        {{pos.display}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <div class="action-bar-wrapper">
        <span class="spacer"></span>
        <span class="button-wrapper">
        <button mat-raised-button (click)="onCancel()">Cancel</button>
    </span>
        <span class="button-wrapper">
         <button mat-raised-button (click)="savePlayer()">Confirm</button>
    </span>
        <span class="spacer"></span>
    </div>
</div>
