<ng-container *ngIf="team">
    <div class="team-content">
        <div class="players">
            <div class="new-player-container">
                <span class="players-title">Players</span>
                <button mat-raised-button class="new-player" color="primary" [disabled]="team.players.length >= 5"
                        (click)="newPlayerPopup(team.id, true)">
                    <mat-icon inline="true" fontSet="fa" fontIcon="fa-plus-square"></mat-icon>
                    Add Player
                </button>
            </div>
            <ul>
                <li *ngFor="let player of team.players">
                <span class="player-entry">
                    <span class="game-name">
                        {{player.gameIdentifier}}
                    </span>

                   <div *ngIf="player.position.length > 0" class="position">
                        <img [src]="getPositionIcon(player)">
                    </div>

                    <span class="spacer"></span>

                    <span class="control-button">
                        <button mat-icon-button color="primary"
                                (click)="editPlayerPopup(player, team.id, true)">
                            <mat-icon inline="true" fontSet="fa" fontIcon="fa-pencil"></mat-icon>
                        </button>
                    </span>

                    <span class="control-button delete">
                        <button mat-icon-button (click)="warningPopup(player, team.id)">
                            <mat-icon inline="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
                        </button>
                    </span>

                    <span class="control-button move">
                        <button mat-icon-button (click)="movePlayerRole(player, team.id, false)">
                            <mat-icon inline="true" fontSet="fa" fontIcon="fa-caret-down"></mat-icon>
                        </button>
                    </span>
                </span>
                </li>
            </ul>
        </div>
        <div class="players">
            <div class="new-player-container">
                <span class="players-title">Substitutes</span>
                <button mat-raised-button class="new-player" color="primary"
                        (click)="newPlayerPopup(team.id, false)">
                    <mat-icon inline="true" fontSet="fa" fontIcon="fa-plus-square"></mat-icon>
                    Add Substitute
                </button>
            </div>
            <ul>
                <li *ngFor="let player of team.substitutes">
                <span class="player-entry">
                    <span class="game-name">
                        {{player.gameIdentifier}}
                    </span>

                    <span class="spacer"></span>

                    <span class="control-button">
                        <button mat-icon-button color="primary"
                                (click)="editPlayerPopup(player, team.id, false)">
                            <mat-icon inline="true" fontSet="fa" fontIcon="fa-pencil"></mat-icon>
                        </button>
                    </span>

                    <span class="control-button delete">
                        <button mat-icon-button (click)="warningPopup(player, team.id)">
                            <mat-icon inline="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
                        </button>
                    </span>

                    <span class="control-button move" *ngIf="team.players.length < 5">
                        <button mat-icon-button (click)="movePlayerRole(player, team.id, true)">
                            <mat-icon inline="true" fontSet="fa" fontIcon="fa-caret-up"></mat-icon>
                        </button>
                    </span>
                </span>
                </li>
            </ul>
        </div>
    </div>
</ng-container>
