
h1 {
    font-weight: 300;
    margin-bottom: 0;
}

h2 {
    font-weight: 400;
    margin-bottom: 0;
}

h4 {
    margin-bottom: 10px;
}

mat-expansion-panel {
    box-shadow: none !important;
}

.mat-expansion-panel {
    background-color: #fafafa!important;
}

mat-expansion-panel-header {
    background-color: #fafafa;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: lightgray;
}

.mat-expanded {
    border-width: 0 0 0 0!important;
}

//.top {
//    border-style: solid;
//    border-width: 1px 0 1px 0;
//    border-color: lightgray;
//}


.layout-spacer {
    margin-top: 15px;
    margin-bottom: 25px;
}

span.team-entry {
    flex-grow: 1;
    height: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: row;

    .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;
    }

    .tag {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.team-content {
    padding-left: 30px;

    ul {
        list-style-type: none;
        margin: 0 0 5px 0;
        padding: 0;
        overflow: hidden;
        width: 100%;

    }

    li {
        height: 48px;
        width: 100%;

        border-style: solid;
        border-width: 1px 0 0 0;
        border-color: lightgray;
    }
}

span.player-entry {
    flex-grow: 1;
    height: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: row;

    .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;
    }

    .game-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .spacer {
        flex-grow: 1;
    }

    .control-button {
        display: flex;
        flex-direction: column;
        justify-content: center;

        mat-icon:before {
            height: 100%;
            font-size: 24px;
        }

    }

    .delete {
        color: #d9534f!important;
    }

    .move {
        color: gray;
    }
}



.new-player-container {
    //background-color: #5c657a;
    margin-top: 15px;
    display: flex;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;

    .players-title {
        //margin-left: 10px;
        color: black;
        font-weight: 400;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .new-player{
        margin-left: auto;
        margin-right: 0;
        //font-size: 10px;
        //width: 120px;

        mat-icon {
            margin-right: 5px;
        }

    }

    .mat-raised-button {
        border-radius: 99999px!important;
    }
}
