<div class="docs-primary-header">
    <h1 class="docs-primary-header">League Management</h1>
</div>
<div class="league-management">
    <div class="menu-area">
        <mat-accordion displayMode="flat" multi="true">
            <mat-expansion-panel expanded="true" hideToggle="true" *ngIf="displayLeagueControls()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        League
                    </mat-panel-title>
                    <mat-panel-description>
                        Change League Properties
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ul>
                    <li [routerLink]="['/manage', 'league']">
                        <a mat-button >
                            League Information
                        </a>
                    </li>

                    <li [routerLink]="['/manage', 'rules']">
                        <a mat-button >
                            Rules and Information
                        </a>
                    </li>

                    <li [routerLink]="['/manage', 'dates']">
                        <a mat-button>
                            Dates and Duration
                        </a>
                    </li>

                    <li [routerLink]="['/manage', 'permissions']">
                        <a mat-button>
                            Permissions
                        </a>
                    </li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>

        <div [routerLink]="['/manage', 'teams']" class="option" *ngIf="displayTeamControls()">
            <span class="label">Teams</span>
            <span class="desc">Add, Remove, Edit Teams</span>
        </div>

        <div [routerLink]="['/manage', 'players']" class="option" *ngIf="displayPlayerControls()">
            <span class="label">Players</span>
            <span class="desc">Manage Players in Teams</span>
        </div>

        <div [routerLink]="['/manage', 'games']" class="option" *ngIf="displayGameControls()">
            <span class="label">Games</span>
            <span class="desc">Schedule, Report, Edit Games</span>
        </div>
    </div>


    <mat-divider [vertical]="true"></mat-divider>
    <span class="edit-area">
        <router-outlet></router-outlet>
    </span>
</div>
