<div class="manage-game-popup-container">


<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <h4>Information</h4>
    <div class="teams">
        <mat-form-field>
            <mat-select placeholder="Team 1" [(value)]="data.game==None?None:data.game.team1Id">
                <mat-option *ngFor="let team of teams" [value]="team.id" (click)="setTeam1(team)">
                    {{team.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span class="vs">
            vs
        </span>
        <mat-form-field>
            <mat-select placeholder="Team 2" [(value)]="data.game==None?None:data.game.team2Id">
                <mat-option *ngFor="let team of teams" [value]="team.id" (click)="setTeam2(team)">
                    {{team.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <h4>Time</h4>
    <div class="time">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Select date" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="ngx-material-timepicker-example__body">
            <div
                class="ngx-material-timepicker-example__form-group ngx-material-timepicker-example__form-group--toggled">
                <div class="input-position">
                    <input placeholder="Select Time" [ngxTimepicker]="toggleTimepicker" [(ngModel)]="time"
                           [disableClick]="true" readonly [style.color]="time==null?'rgba(0, 0, 0, 0.54)':'black'">
                </div>

                <div class="clock-position">
                    <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                    <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                </div>

            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="action-bar-wrapper">
        <span class="spacer"></span>
        <span class="button-wrapper">
        <button mat-raised-button (click)="onCancel()">Cancel</button>
    </span>
    <span class="button-wrapper">
         <button mat-raised-button (click)="onConfirm()">Confirm</button>
    </span>
        <span class="spacer"></span>
    </div>
</div>

</div>
