<h1>
    Manage Games
</h1>

<mat-divider></mat-divider>

<div class="new-game-container">
    <button mat-raised-button class="new-team" color="primary" (click)="newGame()">
        <mat-icon inline="true" fontSet="fa" fontIcon="fa-plus-square"></mat-icon>
        New Game
    </button>
</div>
<!--<mat-chip-list>-->
    <!--<mat-chip [style.background-color]="'#D92826'" selected (click)="deselectAll()">-->
        <!--Deselect All-->
    <!--</mat-chip>-->
    <!--<mat-chip [style.background-color]="'green'" selected (click)="selectAll()">-->
        <!--Select All-->
    <!--</mat-chip>-->
<!--</mat-chip-list>-->


<!--<mat-chip-list>-->
    <!--<mat-chip *ngFor="let team of teams"-->
              <!--[style.background-color]=-->
                  <!--"teamVisibility[team.id]?primary:'darkgrey'" [selectable]="selectable"-->
              <!--(click)="swapVisibility(team.id)" selected>-->
        <!--{{team.name}}-->
    <!--</mat-chip>-->
<!--</mat-chip-list>-->
<!--<div class="vertical-divider"></div>-->
<!--<div class="button-row">-->
    <!--<button [style.background-color]="'#d94640'" selected (click)="deselectAll()" mat-raised-button>-->
        <!--Deselect All-->
    <!--</button>-->
    <!--<button [style.background-color]="'green'" selected (click)="selectAll()"mat-raised-button>-->
        <!--Select All-->
    <!--</button>-->
<!--</div>-->
<!--<mat-divider></mat-divider>-->
<!--&lt;!&ndash;<div class="vertical-divider"></div>&ndash;&gt;-->
<!--<mat-button-toggle-group #group="matButtonToggleGroup">-->
    <!--<mat-button-toggle checked value="upcoming">-->
        <!--Upcoming Games-->
    <!--</mat-button-toggle>-->
    <!--<mat-button-toggle value="past">-->
        <!--Past Games-->
    <!--</mat-button-toggle>-->
<!--</mat-button-toggle-group>-->

<!--<mat-divider></mat-divider>-->
<!--<h4>Upcoming Games</h4>-->

<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Upcoming Games">
    <div class="game-content">
        <ul>
            <ng-container *ngFor="let game of games.upcomingGames">
                <li *ngIf="isGameViewable(game)">
            <span class="game-entry">
                <span class="time">
                    <span class="dayofweek">
                        {{game.gameTime * 1000 | date:'EEEE'}} {{game.gameTime * 1000 | date:'MMMM d'}}
                    </span>
                    <div class="hour-min">
                        {{game.gameTime * 1000 | date:'h:mm a'}}
                    </div>
                </span>

                <span class="spacer"></span>

                <span class="name">
                    {{game.team1.name}}
                </span>

                <span class="vs">
                     vs
                </span>

                <span class="name">
                    {{game.team2.name}}
                </span>

                <span class="spacer"></span>

                <span *ngIf="leagueGame() == 'leagueoflegends'" class="control-button">
                    <button mat-raised-button class="report-result" (click)="openTournamentCodePopup(game)">
                        Get Tournament Code
                    </button>
                </span>

                <span class="control-button">
                    <button mat-raised-button class="report-result" (click)="reportGame(game)">
                        Report Result
                    </button>
                </span>
                <span class="control-button">
                    <button mat-icon-button color="primary" (click)="rescheduleGame(game)">
                        <mat-icon inline="true" fontSet="fa" fontIcon="fa-pencil"></mat-icon>
                    </button>
                </span>

                <span class="control-button delete">
                    <button mat-icon-button (click)="deleteGame(game)">
                        <mat-icon inline="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
                    </button>
                </span>
            </span>
                </li>
            </ng-container>
        </ul>
    </div>
    </mat-tab>

    <mat-tab label="Completed Games">

        <div class="game-content">

            <ul>
                <ng-container *ngFor="let game of games.completedGames">
                    <li *ngIf="isGameViewable(game)">
            <span class="game-entry">
                <span class="time">
                    <span class="dayofweek">
                        {{game.gameTime * 1000 | date:'EEEE'}} {{game.gameTime * 1000 | date:'MMMM d'}}
                    </span>
                    <div class="hour-min">
                        {{game.gameTime * 1000 | date:'h:mm a'}}
                    </div>
                </span>

                <span class="spacer"></span>

                <span *ngIf="game.team1.teamId == game.winnerId"
                      class="result victory">
                    VICTORY
                </span>
                <span *ngIf="game.team1.teamId != game.winnerId"
                      class="result defeat">
                    DEFEAT
                </span>


                <span class="name">
                    {{game.team1.name}}
                </span>

               <span class="score">
                    {{game.scoreTeam1}}
                </span>

                <span class="vs">
                     vs
                </span>

                <span class="score">
                    {{game.scoreTeam2}}
                </span>

                <span class="name">
                    {{game.team2.name}}
                </span>


                <span *ngIf="game.team2.teamId == game.winnerId"
                      class="result victory">
                    VICTORY
                </span>
                <span *ngIf="game.team2.teamId != game.winnerId"
                      class="result defeat">
                    DEFEAT
                </span>

                <span class="spacer"></span>

                <span class="control-button">
                    <button mat-raised-button class="report-result" (click)="reportGame(game)">
                        Amend Result
                    </button>
                </span>
            </span>
                    </li>
                </ng-container>
            </ul>
        </div>
    </mat-tab>
</mat-tab-group>


<!--<mat-accordion displayMode="flat" multi="true" >-->
    <!--<mat-expansion-panel expanded="true" >-->
        <!--<mat-expansion-panel-header>-->
            <!--<mat-panel-title>-->
                <!--Upcoming Games-->
            <!--</mat-panel-title>-->
        <!--</mat-expansion-panel-header>-->

        <!--<div class="game-content">-->
            <!--<div class="new-game-container">-->
                <!--<span class="game-type-title">Game</span>-->
                <!--<button mat-raised-button class="new-team" color="primary">-->
                    <!--<mat-icon inline="true" fontSet="fa" fontIcon="fa-plus-square"></mat-icon>-->
                    <!--New Game-->
                <!--</button>-->
            <!--</div>-->
            <!--<ul>-->
                <!--<ng-container *ngFor="let game of upcomingGames">-->
                    <!--<li *ngIf="teamVisibility[game.team1.id]||teamVisibility[game.team2.id]">-->
                        <!--<span class="game-entry">-->
                            <!--<span class="time">-->
                                <!--<span class="dayofweek">-->
                                    <!--{{game.gameTime * 1000 | date:'EEEE'}} {{game.gameTime * 1000 | date:'MMMM d'}}-->
                                <!--</span>-->
                                <!--<div class="hour-min">-->
                                    <!--{{game.gameTime * 1000 | date:'h:mm a'}}-->
                                <!--</div>-->
                            <!--</span>-->

                            <!--<span class="spacer"></span>-->

                            <!--<span class="name">-->
                                <!--{{game.team1.name}}-->
                            <!--</span>-->
                            <!--<span class="vs">-->
                                 <!--vs-->
                            <!--</span>-->
                            <!--<span class="name">-->
                                <!--{{game.team2.name}}-->
                            <!--</span>-->

                            <!--<span class="spacer"></span>-->

                            <!--<span class="control-button">-->
                                <!--<button mat-raised-button class="report-result" (click)="reportGame(game)">-->
                                    <!--Report Result-->
                                <!--</button>-->
                            <!--</span>-->
                            <!--<span class="control-button">-->
                                <!--<button mat-icon-button color="primary">-->
                                    <!--<mat-icon inline="true" fontSet="fa" fontIcon="fa-pencil"></mat-icon>-->
                                <!--</button>-->
                            <!--</span>-->

                            <!--<span class="control-button delete">-->
                                <!--<button mat-icon-button>-->
                                    <!--<mat-icon inline="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>-->
                                <!--</button>-->
                            <!--</span>-->
                        <!--</span>-->
                    <!--</li>-->
                <!--</ng-container>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</mat-expansion-panel>-->
<!--</mat-accordion>-->

