mat-divider {
    margin-top: 15px;
    margin-bottom: 25px;
}

h1 {
    font-weight: 300;
    margin-bottom: 0;
}

h4 {
    font-weight: 400;
    margin-bottom: 0;
}

span {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    margin-top: 20px;
    display: block;
}

button:hover {
    background-color: #495be4;
}
