<div class="team-entry" [style.height]="height + 'px'" [routerLink]="['/teams', team.teamId]">
    <span class="position">
        {{position}}
    </span>

    <span class="spacer-1"></span>
    <span class="centering-spacer" *ngIf="signup"></span>

    <span class="logo">
        <img [src]="'http://localhost:8080/icons/' + team.iconSmall">
    </span>

    <span class="name">
        {{team.name}}
    </span>

    <span class="spacer-2"></span>

    <span class="record" *ngIf="!signup">
        {{team.wins}}W-{{team.losses}}L
    </span>
</div>
